<div class="flex rounded-lg h-full bg-gray-600 p-8 flex-col">
    <div class="flex items-center mb-3">
        <div
            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full {{if .IsValid}}bg-green-600{{else}}bg-red-600{{end}} text-white flex-shrink-0">
            {{if .IsValid}}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            {{else}}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
            </svg>
            {{end}}
        </div>
        <h2 class="text-white text-lg font-medium">{{ .Name }}</h2>
    </div>
    <div class="flex flex-col justify-between flex-grow">
        <p transition:fade class="leading-relaxed text-base text-white">
            Issuer: <span class="font-bold">{{.Issuer}}</span>
        </p>
        <p transition:fade class="leading-relaxed text-base text-white">
            Signature: <span class="font-bold">{{.Signature}}</span>
        </p>
        <p transition:fade class="leading-relaxed text-base text-white">
            Validity: <span class="font-bold">{{.Validity}} days</span>
        </p>
    </div>
</div>