<div tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center items-center flex">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <div class="text-white">
                    {{if .IsValid}}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 me-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                    {{else}}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 me-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                    </svg>
                    {{end}}
                </div>
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    {{.Hostname}}
                </h3>
                <button type="button" hx-get="/empty" hx-trigger="click" hx-target="#modal"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <table class="table-auto leading-relaxed text-base text-gray-400">
                    <tbody>
                        <tr class="border-gray-700">
                            <td class="px-4 py-2 text-white">Common Name</td>
                            <td class="px-4 py-2">{{.CommonName}}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 text-white">Issuer</td>
                            <td class="px-4 py-2">{{.Issuer}}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 text-white">Signature</td>
                            <td class="px-4 py-2">{{.Signature}}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 text-white">Validity</td>
                            <td class="px-4 py-2">
                                <ul class="">
                                    <li>{{.ValidityInDays}} days</li>
                                    <li>Issued on: {{.CertStartDate.Format "Jan 02, 2006"}}</li>
                                    <li>Expires on: {{.CertEndDate.Format "Jan 02, 2006"}}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 text-white">Is CA</td>
                            <td class="px-4 py-2">{{.IsCA}}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 text-white">DNS Names</td>
                            <td class="px-4 py-2">{{range $i, $element:= .CertDnsNames}}{{if $i}}, {{end}}{{$element}}{{end}}</td>
                        </tr>
                        {{range $i, $element := .OtherCerts}}
                        <tr>
                            <td class="px-4 py-2 text-white">Other cert {{len (printf "a%*s" $i "")}}</td>
                            <td class="px-4 py-2">
                                <ul class="">
                                    <li>Common Name: <span>{{$element.CommonName}}</span></li>
                                    <li>Issuer: {{$element.Issuer}}</li>
                                    <li>Is CA: {{$element.IsCA}}</li>
                                </ul>
                            </td>
                        </tr>
                        {{end}}
                        <tr>
                            <td class="px-4 py-2 text-white">Validation</td>
                            <td class="px-4 py-2">
                                {{if .IsValid}}
                                Cert is valid
                                {{else}}
                                <ul class="">
                                    {{range .ValidationIssues}}
                                    <li>{{.}}</li>
                                    {{end}}
                                </ul>
                                {{end}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button type="button" hx-get="/empty" hx-trigger="click" hx-target="#modal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                    font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
                    dark:focus:ring-blue-800">OK</button>
            </div>
        </div>
    </div>
</div>